body {
    background-color: rgb(253, 251, 251);
    font-size: 16px;
    font-family: monospace;
    color: brown;

}

header {
    position: fixed;
    top: 0;
}

#minha_foto {
    margin: 3%;
    padding: 4%;
    border: 3% solid black;
}

ul li {
    line-height:normal;
}

ol li {
    line-height: normal;
} 

#licoes_aprendidas {
    margin: 5%;
    padding: 5%;
    border: 3%
}

#licoes_a_aprender {
    margin: 5%;
    padding: 4%;
    border: 6%;
}

div {
    display: inline-block;
    width: 200px;
    height: 100px;
}


#lado-esquerdo {     
    width: 50px;
    

}

#lado-direito {  
    width: 60px;     
   
        
}